*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("nature_photo5.jpg");
    background-size: cover;
}

.img{
    height: 200px;
    width: 300px;
    background-image: url("morning.jpg");
    background-size: cover;
    border-radius: 40px;
    margin: 25px;
}

.title{
    text-align: center;
    margin: 25px;
}

.des{
    text-align: center;
    margin: 25px;
}

button{
    width: 150px;
    height: 50px;
    background-color: rgb(223, 41, 208);
    border-radius: 40px;
    color: white;
    position: relative;
    left: 100px;
}

button:hover{
    background-color: blueviolet;
    color: rgb(255, 255, 255);
}

.containor{
    border: 1px solid black;
    border-radius: 40px;
    height: 500px;
    width: 350px;
}